.jimu-main-background {
  background-color: #a80a79;
}
.jimu-border-panel {
  border: 1px solid #a80a79;
}

.jimu-panel-title {
  background-color: #a80a79;
}

.esriPopup .titlePane {
  background-color: #a80a79;
}
